<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"> <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kazuki Asahinaの自己紹介としょみのカメラで撮影した写真を掲載しているサイトです。">
    <title>MyProfile</title>

    <link rel="mosyako1.css" href="static/css/mosyako1.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="mosyako1.html" class="home">My Profile</a>
            </div>
            <div class="menu">
                <a href="#about">About</a>
                <a href="#works">Works</a>
            </div>
        </nav>
    </header>
    <main>
        <article>
            <!-- メイン画像 -->
            <div>
                <img src="images/about.svg" alt="Kazuki Asahina" class="">
            </div>
            <section>
            </section>
            <section>
            </section>
            <footer>
            </footer>
        </article>
    </main>



    <p>top!</p>

</body>
</html>

