
{% if 'top' in request.path %} 
    <div class="footer text-center">
        <h4>俳句メニュー</h4>
        <a href="{% url 'myhaiku:list' %}" class="link mx-2">俳句一覧を見る</a>
    </div>

{% elif 'gamelevel' in request.path %} 
<div class="footer text-center">
    <h4>俳句メニュー</h4>
    <a href="{% url 'myhaiku:list' %}" class="link mx-2">俳句一覧を見る</a>
</div>

{% elif 'new' in request.path %} 
    <div class="footer text-center">
        <h4>俳句メニュー</h4>
        <a href="{% url 'myhaiku:top' %}" class="link mx-2">前の画面に戻る</a>
        <a href="{% url 'myhaiku:list' %}" class="link mx-2">俳句一覧を見る</a>
    </div>


{% elif 'confirm' in request.path %} 

    <div class="footer text-center">
        <h4>俳句メニュー</h4>
        <a href="{% url 'myhaiku:list' %}" class="link mx-2">俳句一覧を見る</a>
    </div>


{% endif %} 



