
{% extends "_base.html" %}
{% load django_bootstrap5 %}

{% block contents %}

    <div class="wrap">
        {% include "myhaiku/_header.html" %}
            <div class="norules">
                <div class="input_confirmation">
                    <p>【確認】以下の内容でよろしければ投稿ボタンを押してください。</p>
                    <div class="tategaki">
                        {{ kami_go }}
                        {{ naka_shichi }}
                        {{ shimo_go }}
                        
                    </div>
                    <br>

                    <form action="{% url 'myhaiku:new' %}" method="post">
                        <input type="hidden" name="modify" value="1">
                        <input type="hidden" name="kamigo" value="{{ kami_go }}">
                        <input type="hidden" name="nakashichi" value="{{ naka_shichi }}">
                        <input type="hidden" name="shimogo" value="{{ shimo_go }}">
                        {% csrf_token %}
                        <input type="submit" value="投稿を修正する">
                    </form>

                    
                    <form action="{% url 'myhaiku:new' %}" method="post">
                    <input type="hidden" name="kamigo" value="<?php $_SESSION['kamigo'] ?>">
                    <input type="hidden" name="nakashichi" value="<?php $_SESSION['nakashichi'] ?>">
                    <input type="hidden" name="shimogo" value="<?php $_SESSION['shimogo'] ?>">
                    <input type="submit" value="投稿" class="btn">
                    </form>
                </div>
            </div>
        {% include "myhaiku/_footer.html" %}
    </div>

{% endblock %}

</body>
</html>

