
{% extends "_base.html" %}
{% load django_bootstrap5 %}

{% block contents %}

<div class="wrap">
    {% include "myhaiku/_header.html" %}

    <div class="haiku_result">
        <p>今回投稿した俳句</p>
        {{ haiku.kami_go }}<br>
        {{ haiku.naka_shichi }}<br>
        {{ haiku.shimo_go }}<br>
    </div>
    <div class="haiku_result">
        <p>ランダム文字</p>
        {{ haiku.kami_random }}<br>
        {{ haiku.naka_random }}<br>
        {{ haiku.shimo_random }}<br>
    </div>
    <div>
        <a href="{% url 'myhaiku:top' %}">俳句トップへ</a>
    </div>


    <?php
        // 投稿をDBに記録する
        if (!empty($_SESSION)) {
            if ($_SESSION['kamigo'] != '') {
                |
                echo '<p>投稿を完了しました。</p>';
                #セッションクリア
                $_SESSION['kami_random'] = array();
                　｜
                $_SESSION['kamigo'] = null;
            } else {
                echo '<p>投稿内容が空です。やり直してください</p>';
                echo '<a href=”gamelevel.php” class="btn">メニューへ戻る</a>';
            }
        }
    ?>

    {% include "myhaiku/_footer.html" %}
</div>

<!-- <div class="header_menu" style="text-align: right">
    <a href="../menu.php" class="btn">TOPへ</a>
    <a href="logout.php" class="btn">ログアウト</a>
</div>
 -->


{% endblock %}

