
{% extends "_base.html" %}
{% load django_bootstrap5 %}

{% block contents %}

<div class="wrap">
    {% include "myhaiku/_header.html" %}

    <div class="haiku_result">
        <p>今回投稿した俳句</p>
        {{ kami_go }}
        {{ naka_shichi }}
        {{ shimo_go }}
    </div>
    <div class="haiku_result">
        <p>ランダム文字</p>
        {{ kami_random }}
        {{ naka_random }}
        {{ shimo_random }}
    </div>
    <div>
        <a href="{% url 'myhaiku:top' %}" class="btn">俳句トップへ</a>
    </div>
        <br>
        <br>
        <br>
        <br>
    <?php
        // 投稿をDBに記録する
        if (!empty($_SESSION)) {
            if ($_SESSION['kamigo'] != '') {
                $haikus = $db->prepare('INSERT INTO haiku SET kamigo=?, nakashichi=?, shimogo=?, kami_random=?, naka_random=?,
                shimo_random=?, member_id=?, created=NOW()');
                $haikus->execute(array(
                    $_SESSION['kamigo'],
                    $_SESSION['nakashichi'],
                    $_SESSION['shimogo'],
                    $_SESSION['kami_random'],
                    $_SESSION['naka_random'],
                    $_SESSION['shimo_random'],
                    $_SESSION['id']
                ));
                echo '<p>投稿を完了しました。</p>';
                // unset($_SESSION[’value’]);だと動くけど『今後良くない』とwarning出てしまうので、
                //  $_SESSION[’value’] = array(); の形に修正した。
                $_SESSION['kami_random'] = array();
                $_SESSION['naka_random'] = array();
                $_SESSION['shimo_random'] = array();
                $_SESSION['kamigo'] = null;
                $_SESSION['nakashichi'] = null;
                $_SESSION['shimogo'] = null;
                $_SESSION['gamelevel'] = null;
            } else {
                echo '<p>投稿内容が空です。やり直してください</p>';
                echo '<a href=”gamelevel.php” class="btn">メニューへ戻る</a>';
            }
        }
    ?>

    <br>
    </div>
    {% include "myhaiku/_footer.html" %}
</div>

<!-- <div class="header_menu" style="text-align: right">
    <a href="../menu.php" class="btn">TOPへ</a>
    <a href="logout.php" class="btn">ログアウト</a>
</div>
 -->


{% endblock %}

</body>
</html>

