
{% extends "_base.html" %}
{% load django_bootstrap5 %}

{% block contents %}

{% include "myhaiku/_header.html" %}

    <div class="container">
        <div class="contents">

            <h1>開始！</h1> 

            <p>【課題文字】</p>

            {% if kami_random == null %}
                <p>上の句 : 条件なし。</p>
            {% elif kami_random != null %}
                <p>上の句のどこかに 『' {{ kami_random }} '』を最低1回含めること。</p>
            {% else %}
                <p>error! something wrong!</p>
            {% endif %}

            {% if naka_random == null %}
                <p>中の句 : 条件なし。</p>
            {% elif naka_random != null %}
                <p>中の句のどこかに 『' {{ naka_random }} '』を最低1回含めること。</p>
            {% else %}
                <p>error! something wrong!</p>
            {% endif %}


            {% if shimo_random == null %}
                <p>下の句 : 条件なし。</p>
            {% elif shimo_random != null %}
                <p>下の句のどこかに 『' {{ shimo_random }} '』を最低1回含めること。</p>
            {% else %}
                <p>error! something wrong!</p>
            {% endif %}


            <br>

            <form action="{% url 'myhaiku:confirm' %}" method="post">
                <label for="kamigo">上の句:</label>
                    <input type="text" id="kamigo" name="kamigo" size="30" value="{{ kami_go }}"><br>
                        //上の句の入力内容に何かしらエラー有れば、エラーメッセージをすべて表示する。

                <br>
                <label for="nakashichi">中の句:</label>
                    <input type="text" id="nakashichi" name="nakashichi" size="40" value="{{ naka_shichi }}"><br> 
                        //中の句の入力内容に何かしらエラー有れば、エラーメッセージをすべて表示する。
                
                <br>
                <label for="shomogo">下の句:</label>  
                    <input type="text" id="shimogo" name="shimogo"  size="30" value="{{ shimo_go }}"><br>
                        //下の句の入力内容に何かしらエラー有れば、エラーメッセージをすべて表示する。
                <br>

                <input type="hidden" name="done" value="1">
                {% csrf_token %}
                <input type="submit" value="投稿内容の確認">
            </form>
            <br>
        </div>
        <div class="rules">
            <p class="rules">【基本ルール】</p>
            <p class="rules">&nbsp;&nbsp;・上の句は６～８音、中の句は4~6音、</p>
            <p class="rules">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下の句は６～８音にして下さい。</p>
            <p class="rules">&nbsp;&nbsp;・『ひらがなのみ』で俳句を書いてください</p>
            <p class="rules">&nbsp;&nbsp;・使用可能な文字：「あ～を」まで。</p>
            <p class="rules">&nbsp;&nbsp;・課題文字については大文字、小文字、</p>
            <p class="rules">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;濁音半濁音の有無、は区別されます。</p>
            <p class="rules">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例えば...「や」と「ゃ」、「あ」と「ぁ」、「か」と</p>
            <p class="rules">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;「が」、「は」と「ぱ」、「お」と「を」は区別されます。</p>
        </div>
    </div>

    {% include "myhaiku/_footer.html" %}

{% endblock %}

</body>
</html>

