
{% extends "_base.html" %}
{% load django_bootstrap5 %}

{% block contents %}

    <div class="wrap">
        {% include "myhaiku/_header.html" %}
            <div class="container contents">
                <div class="haiku_input">
                    <p>【課題文字】</p>

                    {% if kami_random == null %}
                        <p>上の句 : 条件なし。</p>
                    {% elif kami_random != null %}
                        <p>上の句のどこかに 『' {{ kami_random }} '』を最低1回含めること。</p>
                    {% else %}
                        <p>error! something wrong!</p>
                    {% endif %}

                    {% if naka_random == null %}
                        <p>中の句 : 条件なし。</p>
                    {% elif naka_random != null %}
                        <p>中の句のどこかに 『' {{ naka_random }} '』を最低1回含めること。</p>
                    {% else %}
                        <p>error! something wrong!</p>
                    {% endif %}


                    {% if shimo_random == null %}
                        <p>下の句 : 条件なし。</p>
                    {% elif shimo_random != null %}
                        <p>下の句のどこかに 『' {{ shimo_random }} '』を最低1回含めること。</p>
                    {% else %}
                        <p>error! something wrong!</p>
                    {% endif %}


                    <br>

                    <form action="{% url 'myhaiku:confirm' %}" method="post">
                        <label for="kamigo">上の句:</label>
                            <input type="text" id="kamigo" name="kamigo" size="30" value="{{ kami_go }}"><br>
                                //上の句の入力内容に何かしらエラー有れば、エラーメッセージをすべて表示する。

                        <br>
                        <label for="nakashichi">中の句:</label>
                            <input type="text" id="nakashichi" name="nakashichi" size="40" value="{{ naka_shichi }}"><br> 
                                //中の句の入力内容に何かしらエラー有れば、エラーメッセージをすべて表示する。
                        
                        <br>
                        <label for="shomogo">下の句:</label>  
                            <input type="text" id="shimogo" name="shimogo"  size="30" value="{{ shimo_go }}"><br>
                                //下の句の入力内容に何かしらエラー有れば、エラーメッセージをすべて表示する。
                        <br>

                        <input type="hidden" name="done" value="1">
                        {% csrf_token %}
                        <input type="submit" value="投稿内容の確認">
                    </form>
                    <br>
                </div>
                <div class="rules m-2">
                    <p>【基本ルールの説明】</p>
                    <ul>
                        <li>『ひらがなのみ』で俳句を書いてください</li>
                        <li>上の句は6～8音、中の句は4~6音、下の句は6～8音にして下さい。</li>
                        <li>使用可能な文字：「あ～を」までです。</li>
                        <li>課題文字については大文字と小文字は別のものとして区別されます。また、濁音・半濁音の有無も区別されます。</li>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;※例えば...「や」と「ゃ」、「あ」と「ぁ」、「か」と「が」、「は」と「ぱ」、「お」と「を」は区別されます。</p>
                    </ul>
                </div>
            </div>
        {% include "myhaiku/_footer.html" %}
    </div>

{% endblock %}

</body>
</html>

