
.bg_img {
    background-image: url(../images/bamboo4.jpg);
    background-color: rgba(8, 185, 52, 0.8);
    background-repeat: repeat;
    background-position: top;
    background-size: cover;
    /* opacity: 0.9; */
}

h1,h2,h3,h4,p {
    font-family:'HG行書体';
}


.container {
    display: flex;
}

.wrap {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), transparent);
    color: #000000;
}


.step1and2 {
    border: 1px solid #999999;
    flex: 3;
}

.gamelevel {
    border: 1px solid #999999;
}

.selected_gamelevel {
    border: 1px solid #999999;
}

.rules {
    border: 1px solid #999999;
    white-space: wrap;
    flex: 2;
}


.haiku_input {
    border: 1px solid #999999;
    flex: 3;
}

.header {
    background-color: #6b8e23;
    /* background: linear-gradient(to bottom, rgba(15, 177, 40, 0.9), transparent); */
    color: #000000;
}

.footer {
    background-color: #6b8e23;
    /* background: linear-gradient(to bottom, rgba(15, 177, 40, 0.9), transparent); */
    color: #000000;
}

.kami_input, .shimo_input {
    width: 200px;
    /* writing-mode: vertical-rl; */
    /* background-color: red; */
}


.naka_input {
    writing-mode: vertical-rl;
    width: 280px;
    /* writing-mode: vertical-rl; */
    /* background-color: red; */
}

/* ↓ 【没】forms.pyが自動で#id_kami_goを割り当てるが、それにつけても縦書きには出来なかった。
#id_kami_go {
    writing-mode: vertical-rl;
}
#id_kami_go.kami_input {
    writing-mode: vertical-rl;
} */


.haiku_result {
    flex: 1;
    writing-mode: vertical-rl;
    font-size: 1.5rem;
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    /* text-align: center; */
}
