

.bg_img {
    background-image: url(../images/KAZUKIhgfdrfgh.jpg);
    background-repeat: repeat;
    background-position: top;
    background-size: cover;
    opacity: 0.9;
    /* background: linear-gradient(to top, rgba(101, 144, 200, 0.4), transparent); */
}

.quiz_menu {
    /* background-color: gray; */
    background: linear-gradient(to right, rgba(198, 209, 222, 0.9), transparent);

}

/* p, h2, h3, h4, label, a {
    color: rgb(53, 46, 46);
    background: linear-gradient(to right, rgba(198, 209, 222, 0.9), transparent);
} */

/* 細かい点はまだ検討していません。


@media screen and (min-width:481px) {
	.sp{
		display: none;
	}

}

@media screen and (max-width:480px) {
	.pc{
		display: none;
	}

}

*/

